@model IEnumerable<Game>
@{
    ViewData["Title"] = "Home Page";
}
@if (!Model.Any())
{
    <div class="alert alert-warning mt-4">
        <h4 class="alert-heading">No Games !</h4>
        <p class="mb-2">No games were Added yet</p>
    </div>
}
else
{
    <div class="row mt-5">
        @foreach (var game in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="card border-success mb-3" style="max-width : 20rem;">
                    <div class="card-body" style="background-image :url(@($"{ImageSettings.ImagesPath}/{game.Cover}"));
                    background-size:cover; background-position:center; height:400px">
                        <div class="h-100">
                            <span class="badge bg-secondary rounded-0">@game.Category.Name</span>
                        </div>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                        <h5>@game.Name</h5>
                        <div>
                            @foreach (var platform in @game.Platforms)
                            {
                                <i class="@platform.Icone  me-2 fs-4"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

